@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');
@import url('https://fonts.googleapis.com/css?family=JetBrains Mono:300,400,500');

* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;
}

body {
  /* border-top: 10px solid #d43d3d; */
  /* border-left: 10px double #DC0000; */
  background: #15151E;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  /* center the table horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/overlay.png"), url("./assets/images/bg.jpg");
}
h1
{
  margin-top: 5rem; 
  color: #d8d8d8;
  font-size: 3.5rem;
  /* font-family: 'JetBrains Mono'; */
}

/* .table::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #15151E;
  opacity: 0.6;

} */
table {
  /* position relative to include a band on the left of the container */
  margin-top: 3rem;
  position: relative;
  /* cap the width of the table, allowing for a sizeable portion of white space if allowed by the viewport */
  width: calc(90vw - 2rem);
  max-width: 1000px;
  /* spacing to separate the table rows vertically */
  border-spacing: 0 1rem;
  background-color: rgba(0, 0, 20, 0.5);
  border-radius: 30px;
  padding: 10px;
  
}
/* with a pseudo element add a band with a repeating linear gradient */
table:before {
  position: absolute;
  content: '';
  right: calc(100% + 1rem);
  top: 0;
  height: 100%;
  width: 3rem;
  border-radius: 10px;
  /* border: 1px solid #38383F; */
  /* background: repeating-linear-gradient(45deg, #15151E 0px, #15151E 8px, #38383F 8px, #38383F 16px); */
}
/* center every element nested in a table row */
table tr > * {
  text-align: left;
  padding: 0.5rem;
}
/* align every second item of each row to the left */
table tr > *:nth-child(2) {
  text-align: left;
}


/* style the headings to have thin uppercase titles for the columns */
table th {
  border-bottom: 5px solid #9c9c9c;
  font-weight: 300;
  letter-spacing: 0.04rem;
  font-size: 1.5rem;
  color: #eee;
  text-transform: uppercase;
}

/* slightly increase the weight of the cell describing the position */
table td.position {
  font-weight: 500;
  /* text-align: center; */
  padding-left: 20px;
}

/* style the cell with the driver visually separating the first, last name and team */
table td.institute {
  padding-left: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
table td.institute strong {
  text-transform: uppercase;
  font-weight: 500;
}
table td.institute span {
  text-transform: capitalize;
  margin-left: 0.75rem;
  font-size: 0.8rem;
  color: #999;
  letter-spacing: initial;
  
}

/* style the span nested in the last cell to have the gap in a rounded rectangle */
table td.total span {
  background: #38383F;
  border-radius: 30px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  text-transform: uppercase;
}

table td.comp1 span {
  /* background: #38383F;
  border-radius: 30px;
  padding: 0.5rem 0.75rem; */
  font-size: 1rem;
  text-transform: uppercase;
}

table td.comp2 span {
  /* background: #38383F;
  border-radius: 30px;
  padding: 0.5rem 0.75rem; */
  font-size: 1rem;
  text-transform: uppercase;
}

table td.comp3 span {
  /* background: #38383F;
  border-radius: 30px;
  padding: 0.5rem 0.75rem; */
  font-size: 1rem;
  text-transform: uppercase;
}

/* on smaller viewports remove the third column from sight */
@media (max-width: 500px) {
  table tr > *:nth-child(3) {
    display: none;
  }
}
